PORT=4000
BACKEND_URL=http://localhost:4000
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173

EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-app-password

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-supabase-key

PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=5432
PGDATABASE=ecommerce
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommerce
PGSSLMODE=disable

MP_CLIENT_ID=6838909046143855
MP_CLIENT_SECRET=0QFUJBxbHQkRb6VfKphYXY3YEhFlY0KH
MP_REDIRECT_URI=https://pfc-aia.onrender.com/api/mp/callback
